.header {
    width: 100%;
    height: 55px;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: #05192a;
    padding: 0 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Gravedigger', ubuntu, arial;
    font-size: 7px;
    color: #fff;

    &__h1 {
        // justify-self: flex-start;
    }

    &__img {
        height: 80%;
        padding: 5px 0;
    }

    @media(min-width:1200px) {
        height: 65px;
        font-size: 9px;
    }
}