.checkbox {
    position: absolute !important;
    top: 18%;
    left: 8%;

    &::before {
        content: 'segmantation/ img in img';
        position: absolute;
        top: calc(-100% - 0px);
        left: 0;
        white-space: nowrap;
    }

    // * {
    //     pointer-events: none !important;
    // }

    // .onoffswitch-switch {
    //     pointer-events: initial;
    // }


}

.onoffswitch {
    position: relative;
    width: 60px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 0px;
    pointer-events: none;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
    pointer-events: none;

}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "";
    padding-left: 12px;
    background-color: #FFFFFF;
    color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "";
    padding-right: 12px;
    background-color: #FFFFFF;
    color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    display: block;
    width: 38px;
    margin: -4px;
    background: #05192A;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 26px;
    border: 2px solid #999999;
    border-radius: 0px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: 0px;
    background-color: #05192A;
}