@import './input';
@import './spinners';

@font-face {
  font-family: 'Gravedigger';
  src: url(../fonts/Gravedigger.otf);
}

@import './header';

// #ff435f
// #484d4d

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.canvas-chart {
  max-height: 40vh !important;
  z-index: 20;

  @media (min-width: 1024px) {
    max-width: 40vw !important;

    &--top {
      position: absolute;
      top: 50px;
      right: 5%;
    }

    &--bottom {
      position: absolute;
      top: calc(45vh + 50px);
      right: 5%;
    }
  }
}

body {
  .canvas-three-parent {
    position: relative;
    background-color: #f1f2f6;
  }

  #canvas-three {
    @media (min-width: 1024px) {
      transform: translateX(-17%);
    }
  }

  &.active {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 10vh;
      width: 100%;
      background-color: #f1f2f6;
    }
  }

  canvas {
    margin: 5vh 0;
  }


  #time-input {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: rotate(90deg) translateX(-50%);
    transform-origin: 0 0;
    width: 300px;
    z-index: 10;
  }

  #time-value {
    position: absolute;
    transform: translateY(-50%);
    top: calc(50% + 170px + 20px);
    left: 8%;
    font-family: 'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 22px;
    text-align: center;
    z-index: 10;
  }
}